body {
  margin: 0px!important;
  background-color: rgb(38, 76, 103)!important;
}

#eit_data_form {
  width: 730px!important;
    margin: 0px auto!important;
    padding-top: 10px;
    min-height:200px;
}

hr {
  display:none!important;
}
table th, table td{
  padding: 10px;
}
#dataeit {
  width: 730px!important;
    margin: 0px auto!important;
    padding-top: 10px;
    min-height: 200px;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #ffffff;
}

td, th {
  border: 1px solid #cccccc;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.submittwo {
    height: 51px!important;
    width: 713px!important;
    padding-top: 10px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-bottom: 10px!important;
    margin-left: 2px!important;
    text-align: center!important;
    font-weight: normal!important;
    border-radius: 5px 5px 5px 5px!important;
    color: rgb(255, 255, 255)!important;
    text-decoration: none!important;
    cursor: pointer!important;
    float: left!important;
    background-color: rgb(145, 204, 0)!important;
    background-position: 0px -482px!important;
    font-size: 20px!important;
    line-height: 28px!important;
    border: medium none rgb(145, 204, 0)!important;
    white-space: nowrap!important;
    text-shadow: 0px 0px 2px rgb(78, 132, 0)!important;
}

#sp_content_2 {
  height: 200px!important;
  width: 100%!important;
  margin: 0px!important;
  padding: 5px 0px 0px!important;
  background-color: rgb(235, 233, 225)!important;
  background-image: url(http://nwaoguandnwaogu.webs.com/use.jpg)!important;
  background-repeat: no-repeat!important;
  background-position: center top!important;
}
#login-buttons {
  margin-left: 50px;
}
.widthtwo  {
  background-color: #ffffff!important;
  height: 37px!important;
  width: 220px!important;
  border-radius: 5px 5px 5px 5px!important;
  font-size: 20px!important;
  margin-left: 2px!important;
  padding: 5px;
  margin-bottom: 10px;
}
.widther {
  background-color: #ffffff!important;
  width: 234px!important;
    height: 51px!important;
    border-radius: 5px 5px 5px 5px!important;
  font-size: 20px!important;
  margin-left: 2px!important;
  padding: 5px;
  margin-bottom: 10px;
}

#menu_2 {
  width: 100%!important;
  box-shadow: 0px 0px 20px rgb(0, 0, 0)!important;
  height: 40px!important;
  margin: auto!important;
  padding: 0px!important;
  background-image: url(http://nwaoguandnwaogu.webs.com/tagworldbg.jpg)!important;
  background-repeat: repeat-x!important;
  background-position: left top!important;
}

#menuCenter_2 {
  position: relative!important;
    width: 733px!important;
    height: 40px!important;
    margin: 0px auto!important;
    padding: 7px 0px 0px 0px!important;
    color: #fff;
    font-size: 20px!important;
}