<template name="Eit_data_form">
    <div id="sp_content_2">
  <form id="eit_data_form">
    <input type="hidden" name="id" />
    <input class='widthtwo' type="text" name="first_name" placeholder="First name" required />
    <input class='widthtwo' type="text" name="last_name" placeholder="Last name" required/>
    <input class='widthtwo' type="date" name="date_of_birth" required/>
    <br/>
    <select class='widther' name="gender" required>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>
    <select class='widther' name="country" required>
      {{#each countries}}
        {{#if default}}
          <option value="{{name}}" selected="true">{{name}}</option>
        {{else}}
          <option value="{{name}}">{{name}}</option>
        {{/if}}
      {{/each}}
    </select>
    <select class='widther' name="cohort" required>
      {{ #each cohorts }}
      {{ #if current}}
      <option value="{{year}}" selected="true">Class of {{year}}</option>
      {{ else }}
      <option value="{{year}}">Class of {{year}}</option>
      {{ /if }}
      {{ /each }}
    </select>
    <br/>
    <button class='submittwo' >ADD RECORD</button>
  </form>
  </div>
</template>
